@page "/"
@using EPS.Demos.BlazorCloudinary.Models
@using Microsoft.Extensions.Configuration
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject Cloudinary cloudinary
@inject IConfiguration config
<h1>Cloudinary demo</h1>

Upload a file using the widget, and show the image in the display below.

<div class="row">
    <div class="col-1">
        <button class="btn-lg" @onclick="LoadFile">Upload Image</button>
    </div>
</div>

@if (SuccessEvent is not null)
{
    <div class="row">
        @imgString
    </div>
}

@code {
    private IJSObjectReference module;
    private SuccessEvent SuccessEvent { get; set; }
    private MarkupString imgString;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./js/imgHandler.js");

            var preset = config["preset"];
            var handle = config["handle"];
            var cloud = config["CloudinaryConfig:Cloud"];
            await module.InvokeVoidAsync("setCloudinaryCloudName", cloud);
            await module.InvokeVoidAsync("setupCloudinaryUploadWidget",preset,handle,
                DotNetObjectReference.Create(this),"UploadComplete");
        }
    }

    private async Task LoadFile()
    {
        Console.WriteLine("invoking LoadFile");
        await module.InvokeVoidAsync("openWidget");

    }

    [JSInvokable]
    public void UploadComplete(string response)
    {
        Console.WriteLine(response);
        SuccessEvent = JsonConvert.DeserializeObject<SuccessEvent>(response);
        imgString = new MarkupString(cloudinary.Api.UrlImgUp.BuildImageTag(SuccessEvent.info.public_id));
        StateHasChanged();
    }
}
